<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message from soul</title>
</head>
<body>
    <h1>
        Hi, its a <%= dayType %>, so, you must <%= messg %>.
    </h1>
</body>
</html>